<!doctype html>
<html lang="pt-BR">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>{% block 'titulo' %} {% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Meu NPS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">{% block 'lista' %} {% endblock %}</a>
          <a class="nav-link" href="#">Nada ainda</a>
          <a class="nav-link" href="#">Nada por enquanto</a>
        </div>
      </div>
    </div>
    {% if usuario_logado %}
        <a href="{% url 'sair' %}" class="btn btn-danger">Sair</a>
    {% endif %}
  </nav>
  {% block 'conteudo' %} {% endblock %}
  <div style="background-color: hsl(216, 70%, 52%);" class="row text-white">
    <div class="text-center p-4">
      © 2022 Copyright: Bruno DR Castro
    </div>
  </div>
  
  <!--Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>